<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/responsive.css">


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-app="myMdl" ng-controller="myCtrl">
    <!-- Order by : <select ng-model="sortColumn">
                <option value="name">name</option>
                <option value="dep">Dep</option>
                <option value="email">Email</option>
            </select>//order by dropdown selection -->


    <table class=" table table-bordered table-condensed">
        <tr>
            <th ng-click="sortData('name')">Name
                <div ng-class="getSortClass('name')"></div>
            </th>
            <th ng-click="sortData('dep')">Dep
                <div ng-class="getSortClass('dep')"></div>
            </th>
            <th ng-click="sortData('email')">Email
                <div ng-class="getSortClass('email')"></div>
            </th>
            <th ng-click="sortData('city')">City
                <div ng-class="getSortClass('city')"></div>
            </th>
        </tr>
        <tr ng-repeat="employees in employee | orderBy:sortColumn:reverseSort">
            <td>{{employees.name}}</td>
            <td>{{employees.dep}}</td>
            <td>{{employees.email}}</td>
            <td>{{employees.city}}</td>
        </tr>
    </table>




    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/jquery.min.js"></script>

    <script>
    </script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

    <script>
        (function(b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l;
            b[l] || (b[l] =
                function() {
                    (b[l].q = b[l].q || []).push(arguments)
                });
            b[l].l = +new Date;
            e = o.createElement(i);
            r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>